@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$preto: #202020;
$laranja: #ffa034;

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        main {
            #head {
                height: 60vh;
                padding: 5rem 0;
                text-align: center;
                
                h1 {
                    font-size: 3rem !important;
                    margin: 0 auto;
                }

                h5 {
                    width: 80%;
                }
            }

            #trabalhos {
                flex-direction: column !important;
                
                a {
                    width: 100% !important;
                }
            }

            #img-popup {
                padding: 5rem 2rem;
    
                .feather {
                    right: 2rem;
                }
    
                h1 {
                    font-size: 1rem !important;
                    max-width: 8rem;
                }
    
                img {
                    margin-top: 5rem !important;
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    body {
        main {
            #trabalhos {                
                a {
                    width: calc(100% / 4);
                }
            }

            #img-popup { 
                padding: 5rem; 
    
                .feather {
                    right: 2rem;
                }  

                h1 {
                    max-width: 15rem;
                }
                
                img {
                    width: 50%;
                }
            }
        }
    }
}

body {
    font-family: 'Poppins', 'Helvetica', sans-serif;
    margin: 0;
    color: #ccc !important;
    font-size: 14px;
    background-color: $preto;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    header, footer, section, div, aside {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: #ccc !important;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    header {
        position: absolute;
        width: 100%;
        z-index: 998;
        padding: 1rem 2rem;

        ul {
            li {
                display: inline;
                margin-right: 2rem;
                cursor: pointer;
            }
        }
    }

    #pelicula {
        position: fixed;
        z-index: 990;
        width: 100%;
        height: 100%;
        opacity: .05;
    }

    main {
        height:auto;
        z-index: 995;
        
        #head {
            height: 60vh;
            padding: 5rem 0;
            display: flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                font-size: 5rem;
                margin: 0 auto;
            }
            
            h5 {
                font-weight: 200 !important;
                margin: 0 auto;
                color: $laranja;
            }
        }
        
        #trabalhos {
            position: relative;
            display: flex;
            flex-wrap: wrap;            
            height:auto;
            
            a {
                height: 70vh;
                color: #ccc;

                &>div {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    background-size: auto 100%;
                    background-position: center center;
                    transition: .2s;

                    #content-box {
                        position: absolute;
                        z-index: 999;
                        padding: 2rem;
                        margin: auto;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;

                        .feather {
                            margin-right: .5rem;
                            height: 1.2rem;
                            transition: .4s;
                        }
                    }

                    &::after {
                        content: '';
                        background-color: $preto;
                        opacity: .8;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        transition: .4s;
                    }

                    &:hover {
                        background-size: auto 105%;

                        #content-box {
                            .feather {
                                margin-right: .75rem;
                            }
                        }

                        &::after {
                            opacity: .2;
                        }
                    }
                }

                #web {
                    background-image: url('../../src/img/webdesign/Site - Estudo OnePage 01.png');
                    background-size: 100% auto;
                    background-position: center;

                    &:hover {
                        background-size: 105%;
                    }
                }

                #ilu {
                    background-image: url('../../src/img/ilustracao/Um Olhar.png');
                }

                #log {
                    background-image: url('../../src/img/logo/Estudo Logotipo - Douglas.png');
                }

                #mot {
                    background-image: url('../../src/img/Depositphotos_70163357_L.jpg');
                }
            }
        }

        #img-popup {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba($preto, .9);
            z-index: 999;
            left: 0;
            top: 0;
            overflow-y: scroll;

            .feather {
                position: fixed;
                height: 3rem;
                cursor: pointer;
            }

            h1 {
                position: fixed;
                word-break: keep-all;
            }

            img {
                margin: auto;
            }
        }
    }

    #web-design, #ilustracao, #logo {
        #trabalhos {            
            a {
                height: 50vh !important;

                &>div {
                    background-size: 100% auto;
                    background-position: center top;
                }

                #web-trabalho-spw {
                    background-image: url('../../src/img/webdesign/Site - SPWorking.png');
                }

                #web-trabalho-gtx {
                    background-image: url('../../src/img/webdesign/Site - GTX100 Incentivos.png');
                }

                #web-trabalho-all {
                    background-image: url('../../src/img/webdesign/Site - Allons-y.png');
                }

                #web-trabalho-inf {
                    background-image: url('../../src/img/webdesign/Site - InfinityTech.png');
                }

                #web-trabalho-usc {
                    background-image: url('../../src/img/webdesign/Site - Us Consultoria.png');
                }

                #web-trabalho-eop1 {
                    background-image: url('../../src/img/webdesign/Site - Estudo OnePage 01.png');
                }

                #web-trabalho-eop2 {
                    background-image: url('../../src/img/webdesign/Site - Estudo OnePage 02.png');
                }

                #web-trabalho-elp {
                    background-image: url('../../src/img/webdesign/Site - Estudo Landing Page 01.png');
                }

                #ilu-trabalho-gat {
                    background-image: url('../../src/img/ilustracao/Gato Cavaleiro.png');
                }

                #ilu-trabalho-fau {
                    background-image: url('../../src/img/ilustracao/Fauno.png');
                }

                #ilu-trabalho-101 {
                    background-image: url('../../src/img/ilustracao/O Louco 101.png');
                }

                #ilu-trabalho-mar {
                    background-image: url('../../src/img/ilustracao/Marte e Venus.png');
                }

                #ilu-trabalho-anj {
                    background-image: url('../../src/img/ilustracao/Meu Anjo.png');
                }

                #ilu-trabalho-olha {
                    background-image: url('../../src/img/ilustracao/Um Olhar.png');
                }

                #ilu-trabalho-bad {
                    background-image: url('../../src/img/ilustracao/Badboy.png');
                }

                #ilu-trabalho-cur {
                    background-image: url('../../src/img/ilustracao/O Curvado.png');
                }

                #log-trabalho-doug {
                    background-image: url('../../src/img/logo/Estudo Logotipo - Douglas.png');
                }
            }
        }
    }

    aside {
        position: fixed;
        height: 100%;
        padding: 3rem;
        background-color: rgba(#090909, .9);
        z-index: 999;
        width: 30rem !important;
        margin-left: -30rem;
        transition: .2s;

        section {
            &>.feather {
                cursor: pointer;
            }

            h3 {
                color: $laranja;
            }
    
            ul {
                font-size: .8rem;
                margin-bottom: 2rem;
    
                li {
                    margin-bottom: .5rem;
    
                    .feather {
                        margin-right: .5rem;
                        height: .8rem;
                    }
                }    
            }
        }
    }

    footer {
        z-index: 995;
        height: auto;
        padding: 2rem;
        text-align: center;
        font-size: .8rem;
        letter-spacing: .2rem;
        background-color: $preto !important;
    }
}
