@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body main #head {
    height: 60vh;
    padding: 5rem 0;
    text-align: center;
  }
  body main #head h1 {
    font-size: 3rem !important;
    margin: 0 auto;
  }
  body main #head h5 {
    width: 80%;
  }
  body main #trabalhos {
    flex-direction: column !important;
  }
  body main #trabalhos a {
    width: 100% !important;
  }
  body main #img-popup {
    padding: 5rem 2rem;
  }
  body main #img-popup .feather {
    right: 2rem;
  }
  body main #img-popup h1 {
    font-size: 1rem !important;
    max-width: 8rem;
  }
  body main #img-popup img {
    margin-top: 5rem !important;
    width: 90%;
  }
}
@media only screen and (min-width: 480px) {
  body main #trabalhos a {
    width: 25%;
  }
  body main #img-popup {
    padding: 5rem;
  }
  body main #img-popup .feather {
    right: 2rem;
  }
  body main #img-popup h1 {
    max-width: 15rem;
  }
  body main #img-popup img {
    width: 50%;
  }
}
body {
  font-family: "Poppins", "Helvetica", sans-serif;
  margin: 0;
  color: #ccc !important;
  font-size: 14px;
  background-color: #202020;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
body header, body footer, body section, body div, body aside {
  box-sizing: border-box;
}
body a {
  text-decoration: none;
  color: #ccc !important;
}
body ul {
  padding: 0;
}
body ul li {
  list-style-type: none;
}
body header {
  position: absolute;
  width: 100%;
  z-index: 998;
  padding: 1rem 2rem;
}
body header ul li {
  display: inline;
  margin-right: 2rem;
  cursor: pointer;
}
body #pelicula {
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}
body main {
  height: auto;
  z-index: 995;
}
body main #head {
  height: 60vh;
  padding: 5rem 0;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #head h1 {
  font-size: 5rem;
  margin: 0 auto;
}
body main #head h5 {
  font-weight: 200 !important;
  margin: 0 auto;
  color: #ffa034;
}
body main #trabalhos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
body main #trabalhos a {
  height: 70vh;
  color: #ccc;
}
body main #trabalhos a > div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: auto 100%;
  background-position: center center;
  transition: 0.2s;
}
body main #trabalhos a > div #content-box {
  position: absolute;
  z-index: 999;
  padding: 2rem;
  margin: auto;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
body main #trabalhos a > div #content-box .feather {
  margin-right: 0.5rem;
  height: 1.2rem;
  transition: 0.4s;
}
body main #trabalhos a > div::after {
  content: "";
  background-color: #202020;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  margin: 0;
  transition: 0.4s;
}
body main #trabalhos a > div:hover {
  background-size: auto 105%;
}
body main #trabalhos a > div:hover #content-box .feather {
  margin-right: 0.75rem;
}
body main #trabalhos a > div:hover::after {
  opacity: 0.2;
}
body main #trabalhos a #web {
  background-image: url("../../src/img/webdesign/Site - Estudo OnePage 01.png");
  background-size: 100% auto;
  background-position: center;
}
body main #trabalhos a #web:hover {
  background-size: 105%;
}
body main #trabalhos a #ilu {
  background-image: url("../../src/img/ilustracao/Um Olhar.png");
}
body main #trabalhos a #log {
  background-image: url("../../src/img/logo/Estudo Logotipo - Douglas.png");
}
body main #trabalhos a #mot {
  background-image: url("../../src/img/Depositphotos_70163357_L.jpg");
}
body main #img-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.9);
  z-index: 999;
  left: 0;
  top: 0;
  overflow-y: scroll;
}
body main #img-popup .feather {
  position: fixed;
  height: 3rem;
  cursor: pointer;
}
body main #img-popup h1 {
  position: fixed;
  word-break: keep-all;
}
body main #img-popup img {
  margin: auto;
}
body #web-design #trabalhos a, body #ilustracao #trabalhos a, body #logo #trabalhos a {
  height: 50vh !important;
}
body #web-design #trabalhos a > div, body #ilustracao #trabalhos a > div, body #logo #trabalhos a > div {
  background-size: 100% auto;
  background-position: center top;
}
body #web-design #trabalhos a #web-trabalho-spw, body #ilustracao #trabalhos a #web-trabalho-spw, body #logo #trabalhos a #web-trabalho-spw {
  background-image: url("../../src/img/webdesign/Site - SPWorking.png");
}
body #web-design #trabalhos a #web-trabalho-gtx, body #ilustracao #trabalhos a #web-trabalho-gtx, body #logo #trabalhos a #web-trabalho-gtx {
  background-image: url("../../src/img/webdesign/Site - GTX100 Incentivos.png");
}
body #web-design #trabalhos a #web-trabalho-all, body #ilustracao #trabalhos a #web-trabalho-all, body #logo #trabalhos a #web-trabalho-all {
  background-image: url("../../src/img/webdesign/Site - Allons-y.png");
}
body #web-design #trabalhos a #web-trabalho-inf, body #ilustracao #trabalhos a #web-trabalho-inf, body #logo #trabalhos a #web-trabalho-inf {
  background-image: url("../../src/img/webdesign/Site - InfinityTech.png");
}
body #web-design #trabalhos a #web-trabalho-usc, body #ilustracao #trabalhos a #web-trabalho-usc, body #logo #trabalhos a #web-trabalho-usc {
  background-image: url("../../src/img/webdesign/Site - Us Consultoria.png");
}
body #web-design #trabalhos a #web-trabalho-eop1, body #ilustracao #trabalhos a #web-trabalho-eop1, body #logo #trabalhos a #web-trabalho-eop1 {
  background-image: url("../../src/img/webdesign/Site - Estudo OnePage 01.png");
}
body #web-design #trabalhos a #web-trabalho-eop2, body #ilustracao #trabalhos a #web-trabalho-eop2, body #logo #trabalhos a #web-trabalho-eop2 {
  background-image: url("../../src/img/webdesign/Site - Estudo OnePage 02.png");
}
body #web-design #trabalhos a #web-trabalho-elp, body #ilustracao #trabalhos a #web-trabalho-elp, body #logo #trabalhos a #web-trabalho-elp {
  background-image: url("../../src/img/webdesign/Site - Estudo Landing Page 01.png");
}
body #web-design #trabalhos a #ilu-trabalho-gat, body #ilustracao #trabalhos a #ilu-trabalho-gat, body #logo #trabalhos a #ilu-trabalho-gat {
  background-image: url("../../src/img/ilustracao/Gato Cavaleiro.png");
}
body #web-design #trabalhos a #ilu-trabalho-fau, body #ilustracao #trabalhos a #ilu-trabalho-fau, body #logo #trabalhos a #ilu-trabalho-fau {
  background-image: url("../../src/img/ilustracao/Fauno.png");
}
body #web-design #trabalhos a #ilu-trabalho-101, body #ilustracao #trabalhos a #ilu-trabalho-101, body #logo #trabalhos a #ilu-trabalho-101 {
  background-image: url("../../src/img/ilustracao/O Louco 101.png");
}
body #web-design #trabalhos a #ilu-trabalho-mar, body #ilustracao #trabalhos a #ilu-trabalho-mar, body #logo #trabalhos a #ilu-trabalho-mar {
  background-image: url("../../src/img/ilustracao/Marte e Venus.png");
}
body #web-design #trabalhos a #ilu-trabalho-anj, body #ilustracao #trabalhos a #ilu-trabalho-anj, body #logo #trabalhos a #ilu-trabalho-anj {
  background-image: url("../../src/img/ilustracao/Meu Anjo.png");
}
body #web-design #trabalhos a #ilu-trabalho-olha, body #ilustracao #trabalhos a #ilu-trabalho-olha, body #logo #trabalhos a #ilu-trabalho-olha {
  background-image: url("../../src/img/ilustracao/Um Olhar.png");
}
body #web-design #trabalhos a #ilu-trabalho-bad, body #ilustracao #trabalhos a #ilu-trabalho-bad, body #logo #trabalhos a #ilu-trabalho-bad {
  background-image: url("../../src/img/ilustracao/Badboy.png");
}
body #web-design #trabalhos a #ilu-trabalho-cur, body #ilustracao #trabalhos a #ilu-trabalho-cur, body #logo #trabalhos a #ilu-trabalho-cur {
  background-image: url("../../src/img/ilustracao/O Curvado.png");
}
body #web-design #trabalhos a #log-trabalho-doug, body #ilustracao #trabalhos a #log-trabalho-doug, body #logo #trabalhos a #log-trabalho-doug {
  background-image: url("../../src/img/logo/Estudo Logotipo - Douglas.png");
}
body aside {
  position: fixed;
  height: 100%;
  padding: 3rem;
  background-color: rgba(9, 9, 9, 0.9);
  z-index: 999;
  width: 30rem !important;
  margin-left: -30rem;
  transition: 0.2s;
}
body aside section > .feather {
  cursor: pointer;
}
body aside section h3 {
  color: #ffa034;
}
body aside section ul {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
body aside section ul li {
  margin-bottom: 0.5rem;
}
body aside section ul li .feather {
  margin-right: 0.5rem;
  height: 0.8rem;
}
body footer {
  z-index: 995;
  height: auto;
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  background-color: #202020 !important;
}

/*# sourceMappingURL=output.css.map */
